@import url('https://fonts.googleapis.com/css2?family=Neucha&family=PT+Sans+Narrow:wght@400;700&family=Ubuntu:wght@300;400&display=swap');

* {
  padding: 0;
  margin: 0;
  list-style: none;
}

:root {
  --main-bg-color: #243139;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Neucha', cursive;
}

.container {
  width: 1170px;
  margin: auto;
}

@media screen and (max-width: 992px) {
  .container {
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 480px) {
  .container {
    padding: 0 10px;
  }
}

#qty {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  color: #353535;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.8px;
}

#b-minus {
  width: 25px;
  height: 25px;
  background-image: url('../images/minus-black.svg');
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#b-plus {
  width: 25px;
  height: 25px;
  background-image: url('../images/plus-black.svg');
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
